.header-about-mutual{
    background-color: rgb(190, 194, 192);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* flex-wrap: wrap; */
    overflow-x: auto;
}
